.navbar{
    max-width: 100%;

    min-width: auto;
    padding: 10px;
}
.input-wrapper{
    background-color: #ddd;
    border-radius: 10px;
    height: 2.5rem;
}
.search-input{
    background-color: transparent;
    border: none;
}
.search-input:focus{
    outline: none;
}
#search-icon{
    color: royalblue;
}